:root {
  /* Sizes */
  --desktop: 1440px;
  --mobile: 375px;

  /* Font Size */
  --font-size: 16px;

  /* ### Primary */

  --light-red-cta-text: hsl(356, 100%, 66%);
  --very-light-red-cta-hover-background: hsl(355, 100%, 74%);
  --very-dark-blue-headings: hsl(208, 49%, 24%);

  /* ### Neutral */

  --white-text: hsl(0, 0%, 100%);
  --grayish-blue-footer-text: hsl(240, 2%, 79%);
  -very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
  --very-dark-black-blue-footer-background: hsl(240, 10%, 16%);

  /* ### Gradient */

  /* Background gradient - Intro/CTA mobile nav: */

  --very-light-red: hsl(13, 100%, 72%);
  --light-red: hsl(353, 100%, 62%);

  /* Background gradient - body: */

  --very-dark-gray-blue: hsl(237, 17%, 21%);
  --very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.principal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
}

/* HEADER */

/* ELEMENTO PADRE */
#header {
  width: 100%;
  height: 600px;
  background: linear-gradient(
    to right,
    var(--very-light-red),
    var(--light-red)
  );
  overflow: hidden;
  border-radius: 0px 0px 0px 70px;
  margin-bottom: 100px;
}
@media screen and (max-width: 935px) {
  .nav {
    z-index: 10;
    display: none;
    position: fixed;
    top: -500px;
    left: 7%;
    background-color: var(--white-text);
    width: 86%;
    border-radius: 10px;
    z-index: 100;
    transition: 2s;
    overflow-y: auto;
  }
}
/* FIN ELEMENTO PADRE */

/* ============= NAV BAR ============= */

/*PATRON DE CUADROS (BG) */

.pattern {
  padding: 0;
  width: 700px;
  height: 700px;
  position: relative;
  top: -340px;
  left: 2%;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  gap: 8%;
  transform: rotate(22deg);
}
.pattern-elements {
  padding: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    var(--very-light-red),
    var(--light-red)
  );
}

.pattern-elements:nth-child(1) {
  border-radius: 0px 0px 100px 0px;
}
.pattern-elements:nth-child(2) {
  border-radius: 0px 0px 0px 100px;
}
.pattern-elements:nth-child(3) {
  border-radius: 50%;
}
.pattern-elements:nth-child(4) {
  border-radius: 100px 0px 0px 0px;
}
/* FIN PATRON DE CUADROS (BG) */

/* NAV BAR (MOBILE)*/

.header-navbar {
  z-index: 100;
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.logo {
  font-size: 16px;
  padding-left: 20px;
}
.bars {
  font-size: 33px;
  padding-bottom: 6px;
  padding-right: 25px;
  color: var(--white-text);
  z-index: 100;
}
#header-toggle {
  z-index: 100;
}

/* FIN NAV BAR (MOBILE)*/

/* MENU */

@keyframes showAnim {
  0% {
    top: -550px;
  }
  100% {
    top: 100px;
  }
}
.show {
  z-index: 30;
  animation: showAnim 750ms forwards;
  display: block;
}
a {
  text-decoration: none;
  color: var(--very-dark-black-blue-footer-background);
}
.nav__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  text-align: center;
}
.nav__menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav__list {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav__item {
  text-align: center;
  width: 100%;
  padding: 20px 0px 20px 0px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Overpass";
  color: var(--very-dark-black-blue-footer-background);
}
.nav__link {
  text-decoration: none;
  font-weight: bold;
}
.nav__arrow {
  margin-left: 10px;
}
.rotate {
  transition: all 1s;
  transform: rotate(180deg);
}
/* MENU DESPLEGABLE DE LOS ELEMENTOS DEL NAVBAR MOBILE*/

.dropdown__section {
  width: 100%;
  display: flex;
  justify-content: center;
  display: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.dropdown__list {
  font-family: "Overpass";
  margin: 0;
  padding: 0;
  width: 80%;
  background-color: #eeeef0;
  border-radius: 5px;
  text-align: center;
}
.dropdown__element {
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 0 12px 0;
}

.dropdown__active {
  display: flex;
}
/* FIN MENU DESPLEGABLE DE LOS ELEMENTOS DEL NAVBAR MOBILE */

hr {
  width: 86%;
}
.nav__button {
  font-family: "Overpass";
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  border: none;
  width: 130px;
  height: 50px;
  margin: 10px;
  background-color: transparent;
}
.signUp {
  background: linear-gradient(
    to right,
    var(--very-light-red),
    var(--light-red)
  );
}

/* ============= FIN NAV BAR ============= */

/* HERO */

.text-hero {
  z-index: 10;
  position: relative;
  top: 30px;
  width: 100%;
  text-align: center;
  color: var(--white-text);
  font-family: "Overpass";
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 1.6;
}
.text-hero h2 {
  margin-top: -20px;
  font-size: 16px;
}
.buttonsArea {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 3;
  margin-top: 50px;
}
.button {
  font-family: "Ubuntu";
  font-size: 16px;
  font-weight: bold;
  color: var(--white-text);
  margin: 3px;
  width: 160px;
  height: 60px;
  border-radius: 50px;
  border: 1px solid white;
  background-color: transparent;
  z-index: 4;
  cursor: pointer;
}
.button-white {
  color: var(--light-red-cta-text);
  background-color: var(--white-text);
}

/* FIN HERO */

/* FIN HEADER */

.section {
  width: 100%;
  margin-bottom: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subsectionFuture {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subsection {
  margin-top: 130px;
  display: flex;
}
.phones {
  width: 85%;
}
.wrapper-image-area {
  display: flex;
  justify-content: center;
  width: 100%;
}
.sectionCircles {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
}
.sectionPhones {
  z-index: -20;
  height: 650px;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  background: linear-gradient(
    160deg,
    var(--very-dark-gray-blue),
    var(--very-dark-desaturated-blue)
  );
  border-radius: 0px 100px 0px 100px;
}
.subsectionPhones {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
/* WRAPPER STYLES */

.wrapper {
  width: 80%;
  margin: 50px;
  font-family: "Overpass";
  text-align: center;
}
.phonesArea {
  position: absolute;
  top: -20%;
  width: 100%;
  height: 50%;
}
.wrapperPhones {
  position: absolute;
  display: flex;
  justify-content: center;
}
.phonesBG {
  z-index: -10;
  width: 160%;
  position: absolute;
  top: -37%;
}
.phonesTitle {
  font-family: "Overpass";
  font-size: 40px;
  color: white;
  line-height: 60px;
}

.subtitle {
  margin-top: 40px;
  font-family: "Overpass";
  font-size: 28px;
  color: var(--very-dark-blue-headings);
  font-weight: 700;
}

.wrapper-image {
  width: 100%;
}

.texts {
  font-family: "Overpass";
  font-weight: lighter;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #4c5862;
}
.textsWhite {
  color: #ffffff;
}
/* FIN WRAPPER STYLES */
.laptop-desktop{
 display: none;   
}
.wrapperLaptop {
  width: 100%;
  display: flex;
  justify-content: center;
}
.laptopSection {
  display: flex;
  overflow: hidden;
}

.laptop-mobile {
  width: 80%;
}

.footer {
  padding-top: 50px;
  padding-bottom: 80px;
  width: 100%;
  background-color: var(--very-dark-black-blue-footer-background);
  font-family: "Ubuntu";
  color: var(--grayish-blue-footer-text);
  border-radius: 0px 100px 0px 0px;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_logo {
  text-align: center;
}
.part {
  text-align: center;
}

.footer-sections {
  font-weight: bold;
  margin-top: 50px;
}

.footer-items {
  margin: 10px;
  display: block;
  font-size: 18px;
  font-weight: normal;
}

.footer-items:hover {
  color: rgb(207, 194, 194);
}
.footer-items:visited {
  color: var(--grayish-blue-footer-text);
}
.footer-items:active {
  color: var(--light-red-cta-text);
}
@media screen and (min-width: 400px) {
  .wrapperPhones {
    top: -6%;
  }
  .phones {
    transition: all 1s ease;
    top: -40%;
  }
  .sectionCircles {
    display: flex;
  }
  .sectionPhones {
    width: 100%;
  }
  .subsection {
    transition: all 1s ease;
    top: 340px;
  }
  .wrapper-image {
    width: 80%;
  }
  .phonesBG {
    transition: all 1s ease;
    top: -50%;
    left: -30%;
  }
  .footer-sections {
    font-size: 25px;
  }
  .footer-items {
    font-size: 22px;
  }
}
@media screen and (min-width: 550px) {
  /* Elemento Padre */
  .sectionCircles {
    display: flex;
  }
  .phonesBG {
    transition: all 1s ease;
    top: -70%;
    left: -40%;
  }

  /* Celulares */
  .phonesArea {
  }
  .wrapperPhones {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .phones {
    width: 100%;
  }

  /* Texto */
  .subsectionPhones {
  }
  .sectionPhones {
  }
  .subsection {
  }
  .phonesTitle {
  }
  .phonesBG {
  }
  .pattern {
    transition: all 1s ease;
    top: -420px;
  }
  .text-hero h1 {
    transition: all 1s ease;
    font-size: 42px;
  }
  .text-hero h2 {
    transition: all 1s ease;
    font-size: 20px;
  }
  .phones {
    width: 70%;
  }
  .subsection {
    transition: all 1s ease;
    top: 60%;
    width: 70%;
  }
}
@media screen and (min-width: 640px) {
  .phonesBG {
    transition: all 1s ease;
    width: 140%;
    top: -60%;
    left: -40%;
  }
  .pattern {
    width: 700px;
    height: 700px;
    top: -100%;
  }
  .text-hero h1 {
    transition: all 1s ease;
    font-size: 44px;
  }
  .text-hero h2 {
    transition: all 1s ease;
    font-size: 22px;
  }
  .texts {
    font-size: 18px;
    line-height: 33px;
  }
  .wrapper-image {
    transition: all 1s ease;
    width: 70%;
  }
  .phones {
    width: 70%;
    top: -8%;
  }
  .subsection {
    transition: all 1s ease;
    top: 66%;
    width: 70%;
  }
  .laptop-mobile {
    width: 60%;
  }
  .part {
    margin: 0px 15px 0px 15px;
  }
  .footerGrid {
    transition: all 1s ease;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .part:nth-child(3) {
    grid-column: 1/3;
  }
  .subsectionPhones {
    margin-top: 200px;
  }
}
@media screen and (min-width: 725px) {
  .subsectionPhones {
    margin-top: 150px;
  }
  .pattern {
    width: 1000px;
    height: 1000px;
    top: -120%;
  }
  .phones {
    width: 55%;
  }
  .wrapperPhones {
    position: absolute;
    top: -8%;
    left: 0%;
  }
  .phonesBG {
    width: 160%;
    transition: all 1s ease;
    width: 100%;
    top: -50%;
    left: -30%;
  }
  .texts {
    font-size: 20px;
    line-height: 36px;
  }
  .subsection {
    transition: all 1s ease;
    width: 75%;
    top: 55%;
  }
  .footerGrid {
    transition: all 1s ease;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .part:nth-child(3) {
    grid-column: auto;
  }
  .pattern {
    transition: all 1s ease;
    left: 10%;
  }
  .wrapper-image {
    width: 60%;
  }
}
@media screen and (min-width: 835px) {
  .phonesBG {
    width: 140%;
    transition: all 1s ease;
    width: 100%;
    top: -80%;
    left: -30%;
  }

  .sectionCircles {
  }
  .wrapperPhones {
    position: absolute;
    top: 30%;
    left: -20%;
  }
  .phones {
    width: 60%;
  }
  .sectionPhones {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .subsectionPhones {
    width: 50%;
    margin-top: 0px;
  }
  .pattern {
    transition: all 1s ease;
    left: 15%;
  }
  .subsection {
    top: 65%;
  }
  .phonesBG {
    width: 140%;
    transition: all 1s ease;
    width: 100%;
    top: -80%;
    left: -30%;
  }
}
@media screen and (min-width: 935px) {
  .wrapperPhones {
    position: absolute;
    width: 120%;
    top: 35%;
    left: -32%;
  }
  .phones {
    width: 50%;
  }

  .pattern {
    width: 1400px;
    height: 1400px;
    top: -150%;
  }
  .subsection {
    top: 65%;
  }
  .subsectionPhones {
    margin-top: 20px;
  }
  .bars {
    display: none;
    position: absolute;
  }

  .header-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
  }
  .logo {
    width: auto;
    margin-right: 15px;
    padding-left: 50px;
  }

  .nav {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .nav__item:hover > .dropdown__list {
    position: absolute;
    width: 168px;
  }
  .dropdown__list{
    position: absolute;
    left: -4%;
  }
  .dropdown__section {
    position: absolute;
    width: 168px;
    
  }
  .dropdown__link:hover{
    font-weight: 700;
  }
  .dropdown__section:nth-child(1) {
    position: absolute;
    top: 10px;
  }

  .nav__content {
    padding-left: 50px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: transparent;
  }
  .nav__menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 80px;
  }
  hr {
    display: none;
  }
  .nav__list {
    display: flex;
    justify-content: flex-start;
  }
  .nav__item {
    width: auto;
    padding: 0px 15px 0px 15px;
    color: white;
    font-size: 18px;
    font-weight: normal;
  }
  .nav__button {
    color: white;
    font-size: 18px;
    font-weight: normal;
  }
  .future {
    text-align: left;
    line-height: 20px;
  }
  .subsectionFuture {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .wrapper-image-area {
    transition: all 1s ease;
    width: 60%;
  }
  .wrapper-image {
    transition: all 1s ease;
    width: 100%;
    position: relative;
    left: 12%;
  }
  .phonesBG {
    transition: all 1s ease;
    width: 100%;
    top: -100%;
    left: -25%;
  }
  .laptopSection {
    transition: all 1s ease;
    flex-direction: row;
  }
  .laptopSection > .wrapper {
    transition: all 1s ease;
    text-align: left;
  }
  .wrapperLaptop{
    width: 100%;
  }
  .laptop-mobile {
    display: none;
  }
  .laptop-desktop{
    display: block;
    width: 150%;
    position: relative;
    left: -17%;
  }
}

@media screen and (min-width: 1100px) {
  .subsectionPhones {
    margin-top: 20px;
  }
  .wrapperPhones {
    position: absolute;
    width: 120%;
    top: 30%;
    left: -32%;
  }
  .phones {
    width: 50%;
  }
  .phonesBG {
    width: 110%;
    transition: all 1s ease;
    width: 100%;
    top: -110%;
    left: -30%;
  }
  .pattern {
    transition: all 1s ease;
  }
  .subsection {
    top: 65%;
  }
  .bars {
    display: none;
  }
  .container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .footer_logo{
    margin-top: 30px;
    width: 25%;
    height: 278px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .footerGrid{
    width: 75%;
  }
  .footer-sections{
    font-size: 28px;
    margin-top: 0px;
  }
}
@media screen and (min-width: 1280px) {
  .phonesBG {
    width: 90%;
    transition: all 1s ease;
    width: 100%;
    top: -150%;
    left: -30%;
  }
  .subsectionPhones {
    margin-top: 20px;
  }
  .pattern {
    transition: all 1s ease;
    left: 18%;
  }
  .wrapperPhones {
    position: absolute;
    width: 110%;
    top: 31%;
    left: -30%;
  }
  .phones {
    width: 50%;
  }
  .laptop-desktop{
    left: -21%;
  }
}
@media screen and (min-width: 1440px) {
  .phonesBG {
    width: 90%;
    transition: all 1s ease;
    width: 100%;
    top: -160%;
    left: -30%;
  }
  .pattern {
    transition: all 1s ease;
    left: 18%;
  }
}
